.gallery {
  &-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    &-title {
      font-size: 2rem !important;
      margin: 0;
      padding: 0 !important;
      color: $grey !important;
    }
  }
  &-list {
    &-item {
      cursor: pointer;
      width: 250px;
      border-radius: 8px;
      &:hover {
        background-color: $main-bg;
      }
      img {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    }
    &-bar {
      padding-left: 0.3rem;
    }
  }
  &-file {
    &-container {
      max-width: 400px;
      border: 1px solid $grey;
      border-radius: 4px;
      margin-top: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 1rem;
    }
    &-title {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
