.users {
  &-control {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
}
.friends {
  &-list {
    width: 100%;
    min-width: 660px;
    max-width: 660px;
    padding: 0 1rem !important;

    &-item {
      padding-left: 0;
      padding-right: 0;

      &-avatar {
        margin: 0 1rem 0 0;
      }
    }
  }
  &-link {
    display: flex;
    align-items: center;
  }
  &-avatar {
    width: 80px !important;
    height: 80px !important;
  }
}
.people {
  &-list {
    &-item {
      cursor: pointer;
      width: 250px;
      &:hover {
        border-radius: 6px;
        background-color: $main-bg;
      }
      img {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    }
    &-bar {
      padding-left: 0.3rem;
      padding-right: 0.3rem;
    }
  }
}
