.header {
  background-color: $white !important;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;

  &-logo {
    display: flex;
    align-items: center;
    font-size: 1.6rem;

    &--icon {
      color: $blue;
    }
    &--first {
      color: $blue;
    }
    &--second {
      color: $orange;
    }
  }

  &-avatar {
    color: $black;
    font-size: 1.6rem;
    display: flex;
    align-items: center;

    &--name {
      margin-right: 1rem;
    }
  }
}
